<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Matching</title>
	</head>
	<body>
		<h1>Welkom bij de Matching App</h1>
		<div id="kat-container">
			<h2>Naam: <%= eersteKat.naam %></h2>
			<p>Leeftijd: <%= eersteKat.leeftijd %></p>
			<p>Status: <%= eersteKat.status %></p>
		</div>
		<form action="/liked" method="post">
			<button
				type="submit"
				name="katId"
				value="<%= eersteKat.id %>"
				id="like-button"
			>
				liked
			</button>
		</form>

		<form action="/disliked" method="post">
			<button
				type="submit"
				name="katId"
				value="<%= eersteKat.id %>"
				id="dislike-button"
			>
				dislike
			</button>
		</form>
	</body>
</html>
