<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matching</title>
  </head>
  <body>
    <h1>Welkom bij de Matching App</h1>
    <div id="kat-container">
      <h2>Naam: <%= katten[0].naam %></h2>
      <p>Leeftijd: <%= katten[0].leeftijd %></p>
      <p>Status: <%= katten[0].status %></p>
    </div>
    <form action="/liked" method="post">
      <button type="submit" name="katId" value="<%= katten[katNummer].id %>" id="like-button">liked</button>
      <input type="hidden" name="katNummer" value="<%= katNummer %>">
    </form>

    <form action="/vorige" method="post">
      <button type="submit" name="katId" value="<%= katten[katNummer].id %>" id="vorige-button">vorige</button>
      <input type="hidden" name="katNummer" value="<%= katNummer %>">
    </form>